.cover-image { height:164px; text-align: center;}

.cover-image img {
    max-width:100%;
    max-height:100%;
    color: white;
}

.ng-enter,
.ng-leave {
    transition-timing-function: ease;
    transition-duration: 750ms;
    transition-property: opacity;
}

.ng-leave {
    transition-timing-function: ease;
    transition-duration: 250ms;
    transition-property: opacity;
}

.ng-enter {
    opacity: 0;
}

.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active {
    opacity: 0;
}

/* crossFade */
/*.crossFade.ng-enter {
    transition-duration: 100ms;
    opacity: 0;
}

.crossFade.ng-enter.ng-enter-active {
    opacity: 1;*/