.cover-image { height:164px; text-align: center;}

.cover-image img {
    max-width:100%;
    max-height:100%;
    color: white;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.ellipsis {
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    display:block;
}

.bottomright {
  position:absolute;
  bottom:0;
  margin-bottom:25px;
  right: 20px;
}

li.media {
    border-bottom: 1px solid #ccc;
}

@media (max-width: 767px) {
    .navbar-form-margin {
        margin-right: 0px;
        margin-left: 0px;
    }
}
