.cover-image { height:164px; text-align: center;}

.cover-image img {
    max-width:100%;
    max-height:100%;
    color: white;
}

.ng-enter,
.ng-leave {
    transition-timing-function: ease;
    transition-duration: 750ms;
    transition-property: opacity;
}

.ng-leave {
    transition-timing-function: ease;
    transition-duration: 250ms;
    transition-property: opacity;
}

.ng-enter {
    opacity: 0;
}

.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active {
    opacity: 0;
}

/* crossFade */
/*.crossFade.ng-enter {
    transition-duration: 100ms;
    opacity: 0;
}

.crossFade.ng-enter.ng-enter-active {
    opacity: 1;*/


.tt-dropdown-menu {
      width: 322px;
      text-align: left;
      margin-top: 6px;
      /*color: #000066;*/
      padding: 4px 0;
      background-color: #fff;
      border: 1px solid #DDD;
    }

    .tt-header {
        border-bottom: 1px solid #DDD;
        font-weight: bold;
    }

    .tt-suggestion {
      padding: 3px 20px;
      line-height: 14px;
    }

    .tt-suggestion.tt-cursor {
      /*color: #1c1c1c;*/
      background-color: #EEE;
    }

    .tt-suggestion p {
      margin: 0;
    }