<sl-grid-list-toggle ng-model="currentTemplate" template-prefix="'partials/book.'"></sl-grid-list-toggle>
<h1 translate>books.title</h1>
<pagination total-items="totalItems" items-per-page="itemsPerPage" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()"></pagination>
<sl-page-size-changer total-items="totalItems" ng-model="itemsPerPage" ng-change="pageChanged()" items-per-page-list="itemsPerPageList"></sl-page-size-changer>
<br />
<div ng-include src="currentTemplate" scope="" onload=""></div>