<div class=modal-body ng-swipe-left=Lightbox.nextImage() ng-swipe-right=Lightbox.prevImage()>
  <div class=lightbox-nav>
    <button class=close aria-hidden=true ng-click=$dismiss()>×</button>
    <div class=btn-group ng-if="Lightbox.images.length > 1">
      <a class="btn btn-xs btn-default" ng-click=Lightbox.prevImage()>‹ <span translate>paging.previous.alternate</span></a>
      <a ng-href={{Lightbox.imageUrl}} target=_blank class="btn btn-xs btn-default" title="Open in new tab">Open image in new tab</a>
      <a class="btn btn-xs btn-default" ng-click=Lightbox.nextImage()><span translate>paging.next.alternate</span> ›</a>
    </div>
  </div>
  <div class=lightbox-image-container>
    <img lightbox-src={{Lightbox.imageUrl}}>
  </div>
</div>
