<div class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
    {{ driver }}
    <form>
      <div class="form-group">
        <label for="booksPerPage" translate>customize.paging</label>
        <select class="form-control" id="booksPerPage" ng-model="conf.booksPerPage">
          <option ng-repeat="value in pageSizes">{{ ::value }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="CategoriesPerPage" translate>customize.paging</label> Cat
        <select class="form-control" id="CategoriesPerPage" ng-model="conf.categoriesPerPage">
          <option ng-repeat="value in pageSizes">{{ ::value }}</option>
        </select>
      </div>
      <div class="form-group">
        <p><label translate>customize.ignored</label></p>
        <label class="checkbox-inline" ng-repeat="(value, enabled) in conf.ignoredCategories">
          <input ng-model="conf.ignoredCategories[value]" type="checkbox"> {{ value + '.title' | translate}}
        </label>
      </div>
      <div class="form-group">
        <p><label>Prefered formats</label></p>
        <input ng-model="conf.preferedFormats" type="text">
      </div>
      <button type="submit" class="btn btn-default" ng-click="save()">Submit</button>
    </form>
    <div class="alert alert-success" role="alert" ng-if="saving">Saving</div>
  </div>
</div>
